// .header-area{
//     // position:relative;
//     // width:100%;
//     // height: 20px ;
//     border-radius: 10px;
    
//     // background-color:#af2dcd;
//     display:flex;
//     align-items: center;
//     justify-content: space-between;
   

//     .logo{
//         font-size: 28px;
//         font-weight: bold;
//         font-family: 'Lucida Sans','Lucida Sans Regular';
//         letter-spacing: 2px;
//         cursor:pointer;
//         color:azure;
//         float:left;
//         display: block;
        
//     }
//     .logout{
//         font-size: 18px;
//         font-weight: bold;
//         margin-right:40px;
//         cursor:pointer;
//         color:azure;

//     }
// }
 .logoimg{
     width: 60px;
    height:80px;
    float:left;
     display:block;
     border-radius: 35px;
     
 }